//fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
$font: "Poppins", sans-serif;

// colors
$primary: #ff4848;
$gray: #e8f0f2;
$white: #fdfaf6;
$black: #171717;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $font;
}

//helpers

// ### header ### //
.header.header-bg {
  background: $gray;
  transition: all 0.3s ease-in-out;
}
.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

  @media (max-width: 768px) {
    position: fixed;
  }

  &__container {
    width: 75%;
    height: 100%;

    margin: auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  &__container__logo {
    font-size: 2.1rem;
    color: $primary;
    font-weight: bold;
  }

  &__container__menuIcon {
    font-size: 30px;
    padding: 5px;
    position: absolute;
    right: 8%;
    cursor: pointer;
    color: $primary;
    display: none;
  }

  &__container__cta {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__container__cta__login__button,
  &__container__cta__register__button {
    padding: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    border-radius: 8px;
  }
  &__container__cta__login__button {
    background: $gray;
  }
  &__container__cta__login__button.bg {
    background: $black;
    color: $white;
  }
  &__container__cta__login__button.bg:hover {
    background: $primary;
    color: $white;
    border: none;
  }
  &__container__cta__login__button:hover {
    background: transparent;
    border: 1px solid $primary;
    transition: all 0.2s ease-in;
    color: $white;
  }
  &__container__cta__register__button {
    border: 1px solid $primary;
    color: $white;
  }
  &__container__cta__register__button.bg {
    border: 1px solid $primary;
    color: $black;
  }
  &__container__cta__register__button.bg:hover {
    background: $primary;
    color: $white;
  }
  &__container__cta__register__button:hover {
    background: $white;
    transition: all 0.2s ease-in;
    color: $black;
    border: none;
  }

  @media screen and (max-width: 768px) {
    &__container__logo {
      font-size: 1.5rem;
    }

    &__container__cta {
      width: 30%;

      height: 20vh;
      position: absolute;
      top: 60px;
      right: 0;
      display: none;
      padding: 10px 0;
      transition: all 0.5s ease;
      flex-direction: column;
      gap: 30px;
    }
    &__container__cta.active {
      display: flex;
      transition: all 0.5s ease-in;
      background: $gray;
    }

    &__container__menuIcon {
      display: flex;
      font-size: 25px;
    }
  }

  @media screen and (max-width: 300px) {
    &__container__cta {
      width: 50%;
    }
    &__container__cta__login__button,
    &__container__cta__register__button {
      width: 100%;
    }
  }
}

.hero {
  height: 550px;
  width: 100%;
  z-index: 1;
  background: url("../pexels-photo-374018.jpeg") no-repeat center center fixed;

  object-fit: contain;
  background-size: cover;

  @media screen and (max-width: 720px) {
    height: 400px;
  }

  &__container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    color: $white;
  }

  &__container__title {
    font-size: 4.3rem;
    font-weight: bold;
    padding: 10px;
    color: $primary;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  &__container__searchbox {
    padding: 10px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__container__form {
    display: flex;
    align-items: center;
    gap: 1px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__container__input {
    padding: 10px;
    width: 50rem;

    border: none;
    background: $white;
    outline: none;
    border-radius: 5px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__container__searchButton {
    padding: 10px;
    height: 40px;
    border: none;
    outline: none;
    text-transform: center;
    font-size: 16px;
    font-weight: 900;
    background: $primary;
    color: $white;
    max-width: 5rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  }
}

.jobs {
  height: 100vh;
  background-color: $white;
  max-width: 1250px;
  width: 100%;
  margin:0 auto;
  margin-top: -50px;
  display: flex;
  
  flex-direction: column;
  padding: 0 25px;
  border-radius: 10px;
box-shadow: 0px 7px 5px 0px rgba(217, 198, 198, 0.75);
-webkit-box-shadow: 0px 7px 5px 0px rgba(217, 198, 198, 0.75);
-moz-box-shadow: 0px 7px 5px 0px rgba(217, 198, 198, 0.75);

 
&__results__count{
  margin-left: 25px;
  font-size: 18px;
  padding : 2% 0;
  
}


  &__container{
   display: grid;
   margin: 10px auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 40px;

   @media screen and (max-width: 768px){
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto;
   }
   @media screen and (max-width: 520px){
     grid-template-columns: 1fr;
     width: 80%;
     margin: 20px auto;
   }
   @media screen and (max-width:320px){
     width:100%;
   }
   

  }

  &__container__card{
    background-color: $gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color : black;
    justify-content:flex-start;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(237, 246, 229, 1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(237, 246, 229, 1);
    box-shadow: 0px 4px 6px 0px rgba(237, 246, 229, 1);

    padding: 20px;
    transition: transform 0.2s ease-in ;
    
  }

  &__container__card:hover{
    background-color: $gray;
    transform :  scale(1.02);
    
  }

  &__container__card__top{
    width : 100%;
    display :  flex;
    align-items: center;
    justify-content: space-between;
  }
  &__container__card__img{
     width : 50px;
     height : 50px;
     border-radius:50%
  }

  &__container__card__role{
    padding :  20px 0px;
   
  }
    &__container__card__info {
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: italic;
      font-style: italic;
      font-size: 15px;
    }
      &__container__card__info > span > i {
       color: $primary;
      }
  &__container__card__role > span{
    font-size: 18px;
  }
  &__container__card__description{
    
   
  
    text-overflow: ellipsis;
    overflow: hidden;
    font-size : 17px;
   
    
  }

  &__container__card__cta{
    margin-top: 20px;
    height: 45px;


  
  }
    &__container__card__cta__link {
      background: $black;
      font-size : 15px;
      font-weight: 600;
      
      flex  : 1;
      border-radius: 5px;
      padding : 10px;
      color :  white;

      
    }
    &__container__card__cta__link:hover {
      background: $primary;
    }

}
